.about {
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 0;
  background-color: var(--background-primary);
}

.image {
  width: 160px;
  height: 200px;
  border-radius: 16px;
  background-color: var(--background-secondary);
}

.text {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 420px) {
  .about {
    flex-direction: column;
  }

  .about h2 {
    text-align: center;
  }
}
