.works {
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--background-primary);
}

.works h2 {
  margin-top: 32px;
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.sample {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-color: var(--background-secondary);
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .grid {
    grid-template-columns: auto;
  }
}
