.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu {
  display: none;
}

.close {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.links li {
  list-style: none;
}

.action {
  border: none;
  border-radius: 8px;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-tertiary);
  color: var(--font-quaternary);
  font-family: inherit;
  font-size: medium;
}

.action:hover {
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .menu {
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-tertiary);
    color: var(--font-secondary);
    font-size: medium;
  }

  .navigation {
    position: absolute;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100vh;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    background-color: var(--background-quaternary);
    color: var(--font-secondary);
    transition: 0.7s ease-in-out;
  }

  .close {
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-tertiary);
    color: var(--font-secondary);
    font-size: medium;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
  }

  .open {
    right: 0;
  }

  .action {
    border: none;
    display: flex;
    padding: 0;
    background-color: transparent;
  }
}
