.order {
  background-color: var(--background-secondary);
}

.container {
  display: flex;
  padding: 24px;
  border-radius: 16px;
  background-color: var(--background-tertiary);
  color: var(--font-secondary);
}

.list {
  padding-left: 16px;
}
