.summary {
  background-color: var(--background-tertiary);
}

.summary h2 {
  color: var(--font-quaternary);
}

.history {
  max-width: 560px;
  color: var(--font-secondary);
}

@media screen and (max-width: 420px) {
  .summary {
    text-align: center;
  }
}
