/* intro */

.hero {
  padding-bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-tertiary);
  color: var(--font-secondary);
}

.intro {
  margin: 0 auto;
  width: 80%;
}

.name {
  font-size: 24px;
}

.title {
  font-size: 48px;
}

/* do */

.do {
  background-color: var(--background-primary);
}

/* works */

.works {
  background-color: var(--background-quaternary);
  color: var(--font-secondary);
}

.sample {
  object-fit: cover;
  object-position: center 0;
  border-radius: 16px;
}

/* commissions */

.commission {
  flex-direction: column;
  background-color: var(--background-secondary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 200px;
  height: 300px;
  border-radius: 16px;
  background-color: var(--background-primary);
}
